.cabecera{
    min-height: 100px;
    background-color: black; 
}
.navegacion{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
p{
    color: darkblue;
}
.contenedor-pie{
    min-height: 50px;
    background-color: red;
    display: flex;   
    justify-content: center;
    align-items: center;
}
.pie-p{
    color: white;
    font-weight: bolder;
    
}
main{
    min-height: 50px;
    background-color: wheat;
}